<html>
	<body>
		<h1>register</h1>
				{% if messages %}
					<p>{{messages}}</p>
				{% endif %}

			<form action'/register' method='post'>
				{% csrf_token %}
				<p>First Name: <input type='text' name='first'></p>
				<p>Last Name : <input type='text' name='last'></p>
				<p>Email     : <input type='text' name='email'></p>
				<p>Password  : <input type='password' name='pswd'></p>
				<p>Confirm   : <input type='password' name='conf'></p>
				<input type='submit' value='Submit'>
			</form>
	</body>
</html>
