<html>
	<head>
		<title>book display</title>
		{% load staticfiles %}
		<link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}" media='screen' charset='utf-8'/>
	</head>
	<body>
		<table>
			<th>id</th>
			<th>Title</th>
			<th>Author</th>
			<th>Category</th>
		{% for b in books %}
			<tr>
				<td>{{ b.id }}</td>
				<td>{{ b.title }}</td>
				<td>{{ b.author }}</td>
				<td>{{ b.category }}</td>
			</tr>
		{% endfor %}
		</table>
		<h2>Add a Book</h2>
		<form action='/addbook' method='post'>
			{% csrf_token %}
			Title:<input type=text name='title'>
			Category:<input type=text name='category'>
			Author:<input type=text name='author'>
			<input type=submit value="Submit">
		</form>
	</body>
</html>
