<html>
	<body>
		{% if flash %}
			<p>{{flash}}</p>
		{% endif %}
		{% if user %}
			<h1>Hello, {{user.first_name}}!</h1>
			<form action='/logout', method='post'>
				{% csrf_token %}
				<input type=submit value='Logout'>
			</form>

			<form action='/post', method='post'>
				{% csrf_token %}
				<input type=text name='secret' placeholder="Post a Secret...">
				<input type=submit value='Post!'>
			</form>

			<form action='/secrets' method='post'>
				{% csrf_token %}
				<input type=submit value='Most Popular Secrets'>
			</form>

			<h1>Recent Secrets...</h1>

			{% for secret in secrets %}
				{{secret.message}} {{secret.created_at}} {{secret.likenum}} likes
				{% if user == secret.user %}
					<form action='/delete' method='post'>
						{% csrf_token %}
						<input type=hidden name='delete' value={{secret.id}}>
						<input type=submit value='Delete'>
					</form>
				{% else %}
				{% if user in secret.likes.all %}
					You liked this!<br><br>
				{% else %}
				<form action='/like' method='post'>
					{% csrf_token %}
					<input type=hidden name='secret' value={{secret.id}}>
					<input type=submit value='Like'>
				</form>
				{% endif %}
				{% endif %}
			{% endfor %}

		{% else %}
	
	
			<h4>Register</h4>
			<form action='/register' method='post'>
				{% csrf_token %}
				<p>First Name<input type=text name='first'></p>
				<p>Last Name<input type=text name='last'></p>
				<p>Email<input type=text name='email'></p>
				<p>Password<input type=password name='pswd'></p>
				<p>Confirm<input type=password name='conf'></p>
				<p><input type=submit value='Register'></p>
			</form>
	
			<h4>Login</h4>
			<form action='/login' method='post'>
				{% csrf_token %}
				<p>Email<input type=text name='email'></p>
				<p>Password<input type=password name='pswd'></p>
				<p><input type=submit value='Register'></p>
			</form>
	{% endif %}
	</body>
</html>
